.jumbotron{
    background-color: green;
    color: black;
}
footer{
    padding: 10px;
    background-color: #D6DFDC;
    margin-bottom: 0px;
    margin-top: 10px;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black;
}

.card-mascota{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    max-width: 280px;
    text-align: center;
}

.card-mascota img{
    width: 100%;
}

.btn-adopta{
    width:  100%;
}

footer a{
    text-decoration: none;
    color:#333333;
}